section {
  height: 300px;
  margin: 60px 0;
  background-color: tomato;
}
#more {
  margin: 20px auto 48px;
}
.section--tomato {
  background-color: tomato;
}
button {
  text-align: center !important;
  align-content: center !important;
  align-items: center !important;
}